h2.feedbacks__title Отзывы о цветных пластиковых окнах
a(href="#").feedbacks__more посмотреть еще отзывы
.feedbacks
    .feedbacks__item
        cite Алена,
        p.
            Договор № 09.10.33512.13 <br>
            Дата размещения: 13 декабря 2013 года
        img.feedbacks__item-rate(src="img/feedbacks/img/stars.png", alt="")
        blockquote.
            Поставили нам окна во всей квартире.Все очень понравилось)))компания на 5+.Все очень любезные,гибкая система скидок!!!буду советовать всем!!!Сервис был на высоте,во-первых с поставкой получилось быстрее,во-вторых два раза приезжал замерщик Алексей,ему большое спасибо...
        .div
            a(href="#").feedbacks__item-more Прочитать полностью 
        a(href="").feedbacks__item-review-btn оставить отзыв