.options
    h2.options__title Создайте выразительный интерьер с цветными окнами REHAU
    .options__img
        img(src="img/options/img/window.png", alt="")
        p.options__img-text Ирландский дуб
    .options__selection
        ul.options__selection-list
            li.options__selection-list-item 
                p Точная визуализация натурального дерева.
            li.options__selection-list-item 
                p Яркие нестандартные цвета в тон или в дополнение интерьера.
            li.options__selection-list-item 
                p Разные фактуры для Ваших пластиковых окон.
        p.options__selection-title Подберите цвет для своих окон:
        .options__selection-choice
            a.options__selection-choice-item.options__selection-choice-item1.choice(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item2(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item3(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item4(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item5(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item6(href="#")
                div 
            a.options__selection-choice-item.options__selection-choice-item7(href="#")
                div 
        p.options__selection-choice-more Больше 50 вариантов цветов и фактур спрашивайте у наших замерщиков
        a(href="#").options__selection-calc-btn Расчитать со скидой 70%
        a(href="#").options__selection-konsalt или отправить заявку и получить консультацию
        