.recomend
    p.recomend__text Рекомендуем также
    ul.recomend__list
        li.recomend__list-item
            a(href="#") Edinburgh by REHAU
        li.recomend__list-item
            a(href="#") Estet by REHAU
        li.recomend__list-item
            a(href="#") REHAU DELIGHT-Design
        li.recomend__list-item
            a(href="#") REHAU BRILLANT-Design
        li.recomend__list-item
            a(href="#") REHAU Geneo 
        li.recomend__list-item
            a(href="#") Цветные окна
        li.recomend__list-item
            a(href="#") Стеклопакеты
        li.recomend__list-item
            a(href="#") Остекление балконов и лоджий
        li.recomend__list-item
            a(href="#") Отделка и утепление балконов
        li.recomend__list-item
            a(href="#") Балконные блоки
