doctype html
html(lang='ru')
  include blocks/head/head.jade
    title Windows

  body
    include blocks/header/header.jade
    main
      include blocks/title/title.jade
      include blocks/recomend/recomend.jade
      include blocks/options/options.jade
      include blocks/about/about.jade
      include blocks/feedbacks/feedbacks.jade
  include blocks/bottom/bottom.jade
    
    
    

      